In [1]:
import pandas as pd

In [15]:
data=pd.read_csv("spain.csv")
data.loc[:,"total"]=data.loc[:,"Total"]*1000+data.loc[:,"Total2"]
data=data[["Age group","total"]]
data1=data.loc[0:9,"total"]
data2=data.loc[10:19,"total"]
data3=data.loc[20:29,"total"]
data4=data.loc[30:39,"total"]
data5=data.loc[40:49,"total"]
data6=data.loc[50:59,"total"]
data7=data.loc[60:69,"total"]
data8=data.loc[70:79,"total"]
data9=data.loc[80:,"total"]
data2.sum()
M=pd.DataFrame([data1.sum(),data2.sum(),data3.sum(),data4.sum(),data5.sum(),data6.sum(),data7.sum(),data8.sum(),data9.sum()],index=["0-9","10-19","20-29","30-39","40-49","50-59",'60-69',"70-79",'80+'])

In [19]:
M

             0
0-9    4370857
10-19  4883448
20-29  4847936
30-39  6167590
40-49  7813174
50-59  6974009
60-69  5281874
70-79  3900551
80+    2860959

In [26]:
M.loc[:,"population distribution"]=M.loc[:,0]/M.sum()[0]*100
M

             0  population distribution
0-9    4370857                 9.279873
10-19  4883448                10.368167
20-29  4847936                10.292771
30-39  6167590                13.094560
40-49  7813174                16.588340
50-59  6974009                14.806688
60-69  5281874                11.214075
70-79  3900551                 8.281355
80+    2860959                 6.074172

In [27]:
M.to_csv("spain_clean.csv")

47100398.0